<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MagoAssistant_Mago::config">
                                <resource id="MagoAssistant_Mcp::manage" title="MCP Servers" sortOrder="50"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="MagoAssistant_Mago::assistant">
                    <resource id="MagoAssistant_Mcp::use" title="MCP Tools - Read" sortOrder="40"/>
                    <resource id="MagoAssistant_Mcp::use_write" title="MCP Tools - Write" sortOrder="41"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
